@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@700&display=swap');

/* Mulai code Anda dari baris terakhir */

* {
      box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
   margin: 0;
   padding: 0;
}
  
  body {
    font-family: 'Overpass', sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  .clear {
    clear: left;
  }
  
  .container {
    max-width: 1170px;
    padding: 0 75px;
    margin: 0 auto;
    text-align: center;
  }
 .box{
    position: inline-block;
  }
.top-wrapper {
    padding: 180px 0 155px 0;
    background-image: url(../img/main-bg.png);
    color: rgb(8, 54, 63);
    background-size: cover;
}
  
  .top-wrapper h1 {
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
  }
  
.top-wrapper img {
    width: 300px;
}

.top-wrapper p {
    margin-bottom: 3px;
    color: rgb(1, 173, 239);
}
  
  .btn-wrapper {
    margin: 20px 0;
  }
  
  .btn-wrapper p {
    margin: 10px 0;
  }
  
  .start {
    background-color: rgb(1, 173, 239);
  }
  
  .facebook {
    background-color: #3b5998;
    margin-right: 10px;
  }
  
  .twitter {
    background-color: #55acee;
  }
  
.btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0px 0px 5px black;
    transition: all 0.3s;
}
  
.start:hover {
    border-radius: 100px;
    color: rgb(8, 54, 63);
}
  
  .fa {
    margin-right: 5px;
  }

  
  header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0);
    top: 0;
    z-index: 10;
    position: absolute;    
}
  
  .logo {
    width: 124px;
    margin-top: 10px;
  }
  
  .header-left {
    float: left;
  }
  
  .header-right {
    float: right;
    margin-right: -25px;
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: rgb(8, 54, 63);
    display: block;
    float: left;
    transition: all 0.3s;
  }
  
  .header-right a:hover {
    font-size: 20px;
  }
  
  .lesson-wrapper {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    background-color: rgb(8, 54, 63);
  }
  
  .heading {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #5f5d60;
  }
  
  .heading h2 {
    font-weight: normal;
    color: white;
  }
  
  .lesson {
    float: left;
    width: 24%;
    margin: 5px;
    height: 380px;
    border-radius: 10px;
    transition: all 0.3s;
  }

.lesson:hover {
    background-color: white;
    color: rgb(8, 54, 63);
}
  
  .lesson-icon {
    position: relative;
  }

  .lesson-icon img {
    border-radius: 10px;
  }
  
  .lesson-icon p {
    top: 44%;
    width: 100%;
    color: grey;
  }
  
  .txt-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    color: grey;
  }
  
  .heading h3 {
    font-weight: normal;
    color: white;
  }
  
  .message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 70px;
    text-align: center;
    background-color: rgb(8, 54, 63);
  }

  /* Ketik code Anda dibawah */
  .menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
  }

  /* Contact Section*/
  .contact-section h3 {
    font-size: 28px;
    padding-top: 80px;
    padding-bottom: 15px;
    border-bottom: 2px solid #dee7ec;
    margin-bottom: 50px;
    color: rgb(8, 54, 63);
    align-content: center;
  }
  
  .contact-section p {
    padding-bottom: 10px;
    color: rgb(8, 54, 63);
}
  
  input, 
  textarea {
    padding: 20px;
    width: 400px;
    margin-bottom: 30px;
    border: 2px solid #dee7ec;
  }
  
  .submit {
    background-color: rgb(8, 54, 63);
    color: white;
    width: 400px;
    padding: 20px;
    font-size: 18px;
    margin-top: 30px;
    transition: all 0.3s;
    border: none;
    margin-bottom: 70px;
}

  .submit:hover {
      background-color: #dee7ec;
      color: rgb(8, 54, 63);
  }
  footer img {
  width: 100px;
  padding-top: 30px;
  padding-bottom: 15px;
  }

  footer p {

  color: #b3aeb5;
  font-size: 12px;
  }

  footer {
  background: 
  padding-top: 30px;
  padding-bottom: 20px;
  background-color:rgb(8, 54, 63);
  margin: 0 auto;
  align-content: left;
  }
  .box{
    margin:30px;
 
  }
  .box h3{
     color: white;

  }
  .box h3:hover {
   color: black;
  }
  .box p:hover {
    color: white;
    font-weight: bold;
  }
  footer .boxes{
  float: left;
  margin: 30px;
  background-color: rgb(8, 54, 63); 
  }





  
